menu:
    Blog: https://mikecoder.cn
    OJ Games: /
    Archive: /archives/
    GitHub: https://github.com/MikeCoder
    Stackoverflow: https://stackoverflow.com/users/2907140/mike-tang
    Rss: /atom.xml

favicon: /favicon.ico
logo: https://avatars1.githubusercontent.com/u/3142935?v=3&s=466

# Comment
# e.g disqus: seansun
disqus:
duoshuo: mikecoder-oj

# Analytics
# google-analytics:
# ga: UA-65933410-1

# Copyright Infomation
startyear: 2017
