extends partial/layout

block container
    include mixins/post
    .archive
        h2(class='archive-year tagcloud')= 'Tags'
        - var tagcloudRoot = config.root + "js/tagcloud.js"; var tagcanvasRoot = config.root + "js/tagcanvas.js";
        script(type='text/javascript', charset='utf-8', src=tagcloudRoot)
        script(type='text/javascript', charset='utf-8', src=tagcanvasRoot)
        #myCanvasContainer.widget.tagcloud(align='center')
            canvas#resCanvas(width='600', height='500', align=center)
                !=tagcloud()
            !=tagcloud()
    +postList()

block pagination
    include mixins/paginator
    +home()

block copyright
    include partial/copyright
