.paginator {
    margin: 4em 0;
    text-align: center;
    .prev, .next {
        display: inline-block;
        margin: 0 4px;
        padding: 4px 12px;
        border-radius: 4px;
        border-bottom: 4px solid #3aa373;
        font-size: 14px;
        color: #fff;
        background-color: #4fc08d;
        &:hover {
            background-color: #22bd77;
        }
        width: 20%;
        font-size: 20px;
    }
}

.ds-thread,
#disqus_thread {
    margin-bottom: 2em;
}
